.driver-marker {
    width: 17px;
    height: 17px;
    background-color: #3c83ff;
    border: 5px solid white;
    border-radius: 50%;
    position: relative;
    transform: translate(-50%, -50%);
}
